.login {
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(rgba(225, 225, 225, 0.5), rgba(225, 225, 225, 0.5)), url("https://images.pexels.com/photos/459600/pexels-photo-459600.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
}

.loginTitle {
    font-size: 50px;
}

.loginForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.loginForm>label {
    margin: 10px 0;
}

.loginInput {
    padding: 10px;
    background-color: white;
    border: none;
}

.loginButton {
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(144, 101, 101);
    color: white;
    border-radius: 10px;
}

.loginButton:disabled{
    cursor: not-allowed;
    background-color: rgb(128, 124, 124);;
}

.registerButton {
    position: absolute;
    top: 10%;
    right: 20px;
    background-color: rgb(71, 106, 106);
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
}